<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(/Templates/sidebar-01/images/1logo.jpg);"></a>
        <ul class="list-unstyled components mb-5">

<<<<<<< HEAD
            <li><a href="/Default/Index" target="_blank">Portfolio</a> </li>
=======
            <li><a href="/Default/Index">Portfolio</a> </li>
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
            <li><a href="/Dashboard/Index">Dashboard</a> </li>
            <li><a href="/About/AboutList">Hakkımda</a></li>
            <li><a href="/Admin/AdminList">Admin Listesi</a></li>
            <li><a href="/Project/ProjectList">Projeler</a></li>
<<<<<<< HEAD
            <li><a href="/Project/CreateProject" target="_blank">Yeni Proje Girişi</a></li>
=======
            <li><a href="/Project/CreateProject">Yeni Proje Girişi</a></li>
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
            <li><a href="/Service/ServiceList">Hizmetler</a></li>
            <li><a href="/Category/CategoryList">Kategoriler</a></li>
            <li><a href="/Feature/FeatureList/">Özelliklerim</a></li>
            <li><a href="/Skill/SkillList">Yetenekler</a></li>
            <li><a href="/Testimonial/TestimonialList">Referanslar</a></li>
            <li><a href="/Statistic/Index">İstatistikler</a></li>
            <li><a href="/SocialMedia/SocialMediaList">SosyalMedya</a></li>
            <li><a href="/Adress/AddressList">İletişim bilgileri</a></li>
            <li><a href="/Contact/MessageList">Gelen mesaj</a></li>
            <li><a href="/Profile/ProfileList">Ayarlar</a></li>

        </ul>

        <div class="footer">
            <p>
               
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır. | Bu site AYB Dijital Ajans'a aittir.'</a>
                
            </p>
        </div>

    </div>
</nav>

