@model List<DevFolio.Models.TblSkill>

@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yetenek Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Yetenek İsmi</th>
        <th>Yetenek Oranı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SkillID</td>
            <td>@item.SkillTitle</td>
            <td>@item.SkillValue</td>
            <td><a href="/Skill/SkillDelete/@item.SkillID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Skill/SkillUpdate/@item.SkillID" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }


</table>
<a href="/Skill/SkillAdd" class="btn btn-info">Yeni Giriş</a>

