﻿@model List<DevFolio.Models.TblSocialMedia>


<ul>
    @foreach (var item in Model)
    {
<<<<<<< HEAD
        <li><a href="@item.SocialMediaRedirectURL" target="_blank"><span class="ico-circle"><i class="@item.SocialMediaIconURL"></i></span></a></li>
=======
        <li><a href="@item.SocialMediaRedirectURL"><span class="ico-circle"><i class="@item.SocialMediaIconURL"></i></span></a></li>
>>>>>>> c481837dab3600e01ee40f7a6a2613662513de6c
    }
</ul>
