
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="alert alert-danger">Kategori Sayısı : @ViewBag.categoryCount</div>
<div class="alert alert-success">Proje Sayısı : @ViewBag.projectCount</div>
<div class="alert alert-info">Yetenek Sayısı : @ViewBag.skillCount</div>
<div class="alert alert-dark">Son Eklenen Yetenek : @ViewBag.LastSkillTitleName</div>
